@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap&subset=cyrillic');

* {
	font-family: 'Montserrat', sans-serif;
	color: #1F1D1D;
}
input {
	outline:none;
}
button, 
button:active, 
button:focus {
    outline: none;
}
p, h6 {
	margin: 0;
}
button.btn-delete {
	width: 40px;
	height: 40px;
	border-radius: 0px;
	background: url('../images/delete.png');
	background-size: cover;
	border: none;	
}
button.btn-accept {
	width: 40px;
	height: 40px;
	border-radius: 0px;
	background: url('../images/accept.png');
	background-size: cover;
	border: none;	
}
button.btn-edit {
	width: 30px;
	height: 30px;
	border-radius: 0px;
	background: url('../images/edit.png');
	background-size: cover;
	border: none;
}
button.btn-add {
	width: 40px;
	height: 40px;
	border-radius: 0px;
	background: url('../images/add.png');
	background-size: cover;
	border: none;
}
.btns-save {
	margin-bottom: 20px;
}
a.save-link {
	color: #a4a4a4;
	text-decoration: none;
	font-weight: 600;
	transition: 0.15s;
}
a.save-link:hover {
	color: #222222;
}


.cursor-default {
	cursor: default;
}
.textarea-style {
	border-color: #ecf2f3;
	width: 100%;
	padding: 15px;
}


/*modal open*/
.modal-content {
	border: none;
	border-radius: 30px;
}
.modal-content .modal-footer button {
	width: 45%;
	height: 56px;
	background: #FFD600;
	border: none;
	border-radius: 30px;
	color: #1F1D1D;
	font-size: 14px;
	font-weight: 700;
	transition: 0.15s;
}
.modal-content .modal-footer button:hover {
	color: white;
	-moz-box-shadow:0 0 5px #FFD600; 
	-webkit-box-shadow:0 0 5px #FFD600; 
	box-shadow:0 0 5px #FFD600;
}
.modal-content h5 {
	font-weight: 700;
}
.modal-content h6 {
	font-weight: 600;
}
.modal-content .file {
	width: 100%;
}
.disabled-btn {
	opacity: 0.5;
}
.modal-open {
	padding: 0;
}
/*modal close*/



.complex-header {
	margin-bottom: 40px;
}
.complex-description {
	margin-bottom: 40px;
}
.input-group {
	width: 100%;
}
.opportunity-description {
	margin-bottom: 40px;
}





/******login open***/
.container-fluid-login {
	margin: 0;
	padding: 0;
}
.main-screen-login {
	width: 100%;
	height: 768px;
	background: url(../images/bg.jpg) no-repeat;
	background-size: cover;
	text-decoration: none;
	padding: 0;
	margin: 0;
}
.general-block-login {
	width: 945px;
	height: 500px;
	border-radius: 30px;
	background: #fff;
	display: flex;
}
.left-block-login {
	width: 50%;
	height: 100%;
	background: #222222;
	border-radius: 30px 0 0 30px;
	position: relative;
}
.right-block-login {
	width: 50%;	
	height: 100%;
	border-radius: 0 30px 30px 0;
}
.main-screen-login .logo-login {
	width: 164px;
	height: 74px;
	margin-top: 40px;
	margin-left: 100px;
	margin-bottom: 40px;
}
.main-screen-login .text-login {
	margin-left: 90px;
}
.main-screen-login .text-login h1 {
	font-weight: 700;
	margin-bottom: 20px;
	color: #fff;
	font-size: 36px;
}
.main-screen-login .text-login h2 {
	font-weight: 500;
	color: #7c7c7c;
	font-size: 18px;
}
.main-screen-login .name-company-login {
	font-weight: 500;
	color: #fff;
	font-size: 18px;
	margin-left: 100px;
	position: absolute;
	bottom: 40px;
}


form .username, .password {
	width: 70%;
	height: 40px;
	background: none;
	margin-bottom: 30px;
	border-bottom:solid 1px;
}
form button {
	width: 70%;
	height: 56px;
	background: #FFD600;
	border: none;
	border-radius: 30px;
	color: #1F1D1D;
	font-size: 14px;
	font-weight: 700;
	margin-top: 30px;
	transition: 0.15s;
}
form button:hover {
	-moz-box-shadow:0 0 5px #FFD600; 
	-webkit-box-shadow:0 0 5px #FFD600; 
	box-shadow:0 0 5px #FFD600;
	color: white;
}
form input {
	background: #F1F1F1;
	border: none;
	padding-left: 20px;
	font-weight: 500;
	font-size: 16px;
}
/*******login close**/




/*articles open*/

.sub-article {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 15px;
}
.article-block {
	padding: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	text-align: left;
}
.article-block h4 {
	font-size: 18px;
	font-weight: 600;
}
.article-block h5 {
	font-size: 14px;
	font-weight: 500;
	margin-top: 10px;
	color: #7c7c7c;
}
.article-block p {
	font-size: 14px;
	font-weight: 300;
	margin-top: 20px;
	margin-bottom: 20px;
}
.article-block a {
	text-decoration: none!important;
	font-size: 14px;
	font-weight: 700;
	color: #FFD600!important;
	transition: 0.15s;
	cursor: pointer;
}
.article-block a:hover {
	color: #222222!important;
}
h5.article-modal-date {
	font-size: 14px;
	font-weight: 500;
	margin-top: 10px;
	color: #7c7c7c;
}
p.article-modal-desc {
	margin-bottom: 20px;
}
img.article-modal-img {
	width: 100%;
	margin-bottom: 20px;
}
/*articles close*/




/*docs open*/
.doc-block {
	margin-bottom: 40px;
}
.doc-block img.doc-icon {
	width: 70px;
	height: 90px;
	margin-bottom: 20px;
}
.doc-block h4 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
}
.doc-block a {
	text-decoration: none!important;
	font-size: 14px;
	font-weight: 700;
	color: #FFD600!important;
	transition: 0.15s;
	cursor: pointer;
}
.doc-block a:hover {
	color: #222222!important;
}
/*docs close*/




/*team open*/
.member-block img.member-photo {
	width: 100%;
}
.member-block .member-social-media {
	width: 100px;
	height: 30px;
	margin-top: 25px;
}
.member-block {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 70px;
	transition: 0.15s;
}
.member-block:hover {
	background: #ecf2f3;
}
.member-block .member-social-media img {
	height: 100%;
}
.member-block h4 {
	font-size: 18px;
	font-weight: 600;
	margin-top: 20px;
}
.member-block h5 {
	font-size: 14px;
	font-weight: 500;
	margin-top: 10px;
	color: #7c7c7c;
}
/*team close*/



/*registration open*/
.container-fluid-signup {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.main-screen-signup {
	height: 768px;
	background: url(../images/bg.jpg)no-repeat;
	background-size: cover;
	text-decoration: none;
	padding: 0;
	margin: 0;
}
.general-block-signup {
	width: 945px;
	height: 600px;
	border-radius: 30px;
	background: #fff;
	display: flex;
}
.left-block-signup {
	width: 50%;
	height: 100%;
	background: #222222;
	border-radius: 30px 0 0 30px;
	position: relative;
}
.right-block-signup {
	width: 50%;	
	height: 100%;
	border-radius: 0 30px 30px 0;
}
.main-screen-signup .logo-signup {
	width: 164px;
	height: 74px;
	margin-top: 40px;
	margin-left: 100px;
	margin-bottom: 40px;
}
.main-screen-signup .text-signup {
	margin-left: 90px;
}
.main-screen-signup .text-signup h1 {
	font-weight: 700;
	margin-bottom: 20px;
	color: #fff;
	font-size: 36px;
}
.main-screen-signup .text-signup h2 {
	font-weight: 500;
	color: #7c7c7c;
	font-size: 18px;
}
.main-screen-signup .name-company-signup {
	font-weight: 500;
	color: #fff;
	font-size: 18px;
	margin-left: 100px;
	position: absolute;
	bottom: 40px;
}


form .username, .password, .name, .secondname, .email, .phone {
	width: 70%;
	height: 40px;
	background: none;
	margin-bottom: 30px;
	border-bottom:solid 1px;
}
form .radio {
	width: 70%;
	height: 40px;
	background: none;
	margin-bottom: -10px;
}
form .radio input {
	width: 20px;
	height: 20px;
	background: #fff;
}
form .radio p {
	font-size: 14px;
	font-weight: 700;
	margin-left: 10px;
}
form button {
	width: 70%;
	height: 56px;
	background: #FFD600;
	border: none;
	border-radius: 30px;
	color: #1F1D1D;
	font-size: 14px;
	font-weight: 700;
	margin-top: 30px;
	transition: 0.15s;
}
form button:hover {
	-moz-box-shadow:0 0 5px #FFD600; 
	-webkit-box-shadow:0 0 5px #FFD600; 
	box-shadow:0 0 5px #FFD600;
	color: white;
}
form input {
	background: #F1F1F1;
	border: none;
	padding-left: 20px;
	font-weight: 500;
	font-size: 16px;
}
form #goverment-document-add {
	display: none;
	background: none;
	width: 50%;
}


/*registration close*/




/*navbar open*/
.navbar {
	width: 100%;
	height: 100px;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 600;
}
.navbar img {
	width: 176px;
	height: 69px;
}
/*navbar close*/



/*profile open*/
.navbar .profile button {
	border-radius: 20px;
	width: 30px;
	height: 30px;
	background: #222;
	margin-left: 10px;
}
/*profile close*/





/*menu open*/
.menu {
	margin-top: 80px;
}
.menu .nav {
	width: 100%;
}
.menu .nav a.nav-link {
	color: #1F1D1D;
	transition: 0.15s;
}
.menu .nav a.nav-link.active {
	background: #222222;
	color: #fff;
}
.menu .nav a.nav-link:hover {
	background: #222222;
	color: #fff;	
}
.menu .tab-content {
	width: 100%;
}
.menu .tab-content .complex {
	margin-top: 40px;
}
/*menu close*/




/*cards*/
.card {
	margin-right: 15px;
	margin-bottom: 20px;
	height: 300px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.card:hover {
	background: #ecf2f3;
	transition: 0.15s;
}
.gov-employes .card {
	height: 100%;
	padding: 20px;
}
.gov-employes .image
/*cards*/



/*opportunities open*/
.opportunities .row {
	padding: 0;
	margin: 0;
}
.opportunities .image {
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
}
.opportunities .image img {
	height: 100%;
}
.opportunities .row p.card-text {
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: default;
}
/*opportunities close*/





/*complex open*/
.complex-item {
	margin-bottom: 20px;
}
.complex-item a {
	color: #a4a4a4;
	text-decoration: none;
	transition: 0.15s;
}
.complex-item a:hover {
	color: #696969;
}
/*complex close*/




/*media sm*/
@media screen and (max-width: 570px) {
	/*login*/
	.main-screen-login {
		height: 1100px!important;
		padding: 40px;
	}
	.general-block-login {
		width: 300px;
		height: 100%;
		border-radius: 30px;
		background: #fff;
		display: flex;
		flex-direction: column;
	}
	.left-block-login {
		width: 100%;
		height: 50%;
		background: #222222;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 30px 30px 0 0;
		position: relative;
	}
	.right-block-login {
		width: 100%;	
		height: 50%;
		border-radius: 0 0 30px 30px;
	}
	.main-screen-login .logo-login {
		width: 164px;
		height: 74px;
		margin-top: -90px;
		margin-left: 0px;
		margin-bottom: 20px;
	}
	.main-screen-login .text-login {
		margin-left: 0px;
		text-align: center;
	}
	.main-screen-login .text-login h1 {
		font-weight: 700;
		margin-top: 0px;
		margin-bottom: 20px;
		color: #fff;
		font-size: 24px;
	}
	.main-screen-login .text-login h2 {
		font-weight: 500;
		color: #7c7c7c;
		font-size: 16px;
	}
	.main-screen-login .name-company-login {
		font-weight: 500;
		color: #fff;
		font-size: 16px;
		margin-left: 0px;
		position: absolute;
		bottom: 20px;
	}
	/*login*/



	/*reg*/
	.main-screen-signup {
		height: 1100px!important;
		padding: 40px;
	}
	.general-block-signup {
		width: 300px;
		height: 100%;
		border-radius: 30px;
		background: #fff;
		display: flex;
		flex-direction: column;
	}
	.left-block-signup {
		width: 100%;
		height: 40%;
		background: #222222;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 30px 30px 0 0;
		position: relative;
	}
	.right-block-signup {
		width: 100%;
		height: 60%;	
		border-radius: 0 0 30px 30px;
	}
	.main-screen-signup .logo-signup {
		width: 164px;
		height: 74px;
		margin-top: -90px;
		margin-left: 0px;
		margin-bottom: 20px;
	}
	.main-screen-signup .text-signup {
		margin-left: 0px;
		text-align: center;
	}
	.main-screen-signup .text-signup h1 {
		font-weight: 700;
		margin-top: 0px;
		margin-bottom: 20px;
		color: #fff;
		font-size: 24px;
	}
	.main-screen-signup .text-signup h2 {
		font-weight: 500;
		color: #7c7c7c;
		font-size: 16px;
	}
	.main-screen-signup .name-company-signup {
		font-weight: 500;
		color: #fff;
		font-size: 16px;
		margin-left: 0px;
		position: absolute;
		bottom: 20px;
	}
	form .radio {
		margin-bottom: 20px;
	}
	/*reg*/

}
/*media sm*/


/*media md*/
@media (min-width: 570px) and (max-width: 768px) {

	/*login*/
	.main-screen-login {
		height: 1100px!important;
		padding: 40px;
	}
	.general-block-login {
		border-radius: 30px;
		background: #fff;
	}
	.left-block-login {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		text-align: center;
	}
	.main-screen-login .logo-login {
		width: 164px;
		height: 74px;
		margin-left: 0px;
		margin-bottom: 40px;
		position: absolute;
		top: 20px;
	}
	.main-screen-login .text-login {
		margin-left: 0px;
	}
	.main-screen-login .text-login h1 {
		font-weight: 700;
		margin-bottom: 20px;
		color: #fff;
		font-size: 36px;
	}
	.main-screen-login .text-login h2 {
		font-weight: 500;
		color: #7c7c7c;
		font-size: 18px;
	}
	.main-screen-login .name-company-login {
		font-weight: 500;
		color: #fff;
		font-size: 18px;
		margin-left: 0px;
		position: absolute;
		bottom: 40px;
	}
	.radio {
		margin-bottom: 20px!important;
	}
	/*login*/


	/*reg*/
	.main-screen-signup {
		height: 1100px!important;
		padding: 40px;
	}
	.general-block-signup {
		border-radius: 30px;
		background: #fff;
	}
	.left-block-signup {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		text-align: center;
	}
	.main-screen-signup .logo-signup {
		width: 164px;
		height: 74px;
		margin-left: 0px;
		margin-bottom: 40px;
		position: absolute;
		top: 20px;
	}
	.main-screen-signup .text-signup {
		margin-left: 0px;
	}
	.main-screen-signup .text-signup h1 {
		font-weight: 700;
		margin-bottom: 20px;
		color: #fff;
		font-size: 36px;
	}
	.main-screen-signup .text-signup h2 {
		font-weight: 500;
		color: #7c7c7c;
		font-size: 18px;
	}
	.main-screen-signup .name-company-signup {
		font-weight: 500;
		color: #fff;
		font-size: 18px;
		margin-left: 0px;
		position: absolute;
		bottom: 40px;
	}
	/*reg*/
}
/*media md*/



@media screen and (min-width: 1400px) {
	.container-fluid-login .main-screen-login {
		height: 1127px;
	}
	.container-fluid-signup .main-screen-signup {
		height: 1127px;
	}
}


