@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap&subset=cyrillic');
html {
	overflow-x: hidden;
}
* {
	font-family: 'Montserrat', sans-serif;
	color: #1F1D1D;
}
hr {
	background: #C4C4C4;
	width: 100%;
	height: 1px;
	padding: 0;
	margin-top: 110px;
}
button, 
button:active, 
button:focus {
    outline: none;
}
button.btn-edit {
	width: 30px;
	height: 30px;
	border-radius: 0px;
	background: url('../images/edit.png');
	background-size: cover;
	border: none;
}
.pointer {
	cursor: pointer;
}
.complex-hr {
	background: #C4C4C4;
	width: 100%;
	height: 1px;
	padding: 0;
	margin-top: 140px;
}
input {
	outline:none;
}
.container-fluid {
	padding: 0;
}
.cursor-default {
	cursor: default;
}
a.anchor {
	width: 274px;
	height: 56px;
}

.burger {
	display: none;
	cursor: pointer;
}
.burger div {
	width: 25px;
	height: 3px;
	background: #fff;
	margin: 5px;
	transition: all 0.3s ease;
}
.signin-signup a.login-icon {
	width: 24px;
	height: 24px;
	background: url(../images/login_icon.png) no-repeat;
	background-size: cover;
	text-decoration: none;
}
.signin-signup li.signup-text {
	margin-left: 10px!important;
}

/*dropdown*/
.account-dropdown {
	font-size: 12px;
	color: #fff;
	font-weight: 600;
}
img.img-profile {
	width: 28px!important;
	height: 28px!important;
	border-radius: 100px;
}
.profile-menu {
	margin-left: 40px;
}
button.account-dropdown:hover {
	color: #FFD600;
}
.dropdown-menu {
	border-radius: 0px;
	background: #222222;
	color: #fff!important;
}
a.dropdown-item:hover {
	color: #222222!important;
	cursor: pointer;
}
/*dropdown*/


form .account-info-input {
	width: 40%;
	height: 40px;
	background: none;
	border-bottom:solid 1px;
}
form input {
	background: #F1F1F1;
	border: none;
	padding-left: 20px;
	font-weight: 500;
	font-size: 16px;
}



.input-group {
	margin-top: 20px;
}


/*modal open*/
.modal {
	padding-left: 0;
}
.modal-content {
	border: none;
	border-radius: 30px;
}
body {
	padding-right: 0!important;
}
.modal-content .modal-footer button {
	width: 45%;
	height: 56px;
	background: #FFD600;
	border: none;
	border-radius: 30px;
	color: #1F1D1D;
	font-size: 14px;
	font-weight: 700;
	transition: 0.15s;
}
.modal-content .modal-footer button:hover {
	color: white;
	-moz-box-shadow:0 0 5px #FFD600; 
	-webkit-box-shadow:0 0 5px #FFD600; 
	box-shadow:0 0 5px #FFD600;
}
.modal-content h5 {
	font-weight: 700;
}
.edit-info-modal {
	padding-right: 0;
}
/*modal close*/





/*modal account info*/
.block-account-info {
	width: 100%;
	height: 70px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	transition: 0.15s;
}
.block-account-info:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}





/*.card-docs {
	margin-top: 20px;
	margin-right: 15px;
	margin-bottom: 20px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card-docs:hover {
	background: #ecf2f3;
	transition: 0.15s;
}
p.card-text {
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: default;
}
.card-docs .image img {
	height: 100px;
}*/
/*modal account info*/






.main-screen {
	width: 100%;
	height: 800px;
	background: url(../images/bg.jpg) no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}
.main-screen-buisness {
	width: 100%;
	height: 800px;
	background: url(../images/buisnessdogs_blur.jpg) no-repeat center;
	background-size: cover;
	margin: 0;
	padding: 0;
}
.main-screen-home {
	width: 100%;
	height: 800px;
	background: url(../images/homedogs_blur.jpg) no-repeat center;
	background-size: cover;
	margin: 0;
	padding: 0;
}
.main-screen-goverment {
	width: 100%;
	height: 800px;
	background: url(../images/wardogs_blur.jpg) no-repeat center;
	background-size: cover;
	margin: 0;
	padding: 0;
}
footer.gover-footer {
	margin: 0;
}
p {
	margin: 0; 
}



/*navbar open*/
.navbar {
	width: 100%;
	height: 100px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	background: rgba(0, 0, 0, 0.2);
	font-weight: 600;
}
.navbar img {
	width: 150px;
	height: 69px;
}
.navbar a {
	text-decoration: none;
	color: white;
	transition: 0.15s;
	font-size: 12px;
}
.navbar li {
	margin-left: 40px;
}
.navbar .navbar-link a.nav-link.active-link {
	border-bottom: 2px solid;
}
.navbar .navbar-link a.nav-link:hover {
	border-bottom: 2px solid;
}
/*navbar close*/



/*description open*/
.description {
	margin-top: 160px;
}
.description h1 {
	font-weight: 700;
	font-size: 60px;
	width: 880px;
	color: white;
}
.description p {
	margin-top: 30px;
	width: 660px;
	font-weight: 500px; 
	font-size: 18px;
	color: white;
	line-height: 1.8;
}
.description button {
	width: 274px;
	height: 56px;
	background: #FFD600;
	border: none;
	border-radius: 30px;
	color: #1F1D1D;
	font-size: 14px;
	font-weight: 700;
	margin-top: 30px;
	transition: 0.15s;
}
.description button:hover {
	-moz-box-shadow:0 0 5px #FFD600; 
	-webkit-box-shadow:0 0 5px #FFD600; 
	box-shadow:0 0 5px #FFD600;
	color: white;
}
/*description close*/



/*social media open*/
.social-media img {
	width: 40px;
	height: 40px;
	margin-top: 5px;
}
/*social media close*/




/*****opportunities open*/
.opportunities h2 {
	margin-top: 110px;
	font-weight: 500;
	font-size: 40px;
}
.opportunities h3 {
	font-weight: 500;
 	margin-top: 10px;
	font-size: 18px;
	color: #7C7C7C;
}
.opportunities .image {
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
}
.opportunities .image img {
	height: 100%;
}
.opportunities .row {
	margin-top: 40px;
}
.opportunities p {
	color: #222222;
	font-weight: 400;
	font-size: 18px;
	margin-top: 10px;
}
.opportunities .icon-block {
	margin-bottom: 70px;
}
/********opportunities close*/




/**********complex open*/
.complex h2 {
	margin-top: 110px;
	font-weight: 500;
	font-size: 40px;
}
.complex h3 {
	font-weight: 500;
 	margin-top: 10px;
	font-size: 18px;
	color: #7C7C7C;
}
.complex .first-left {
	height: 309px;
	margin-top: 40px;
	text-align: -webkit-center;
	position: relative;
}
.complex .second-left {
	height: 309px;
	margin-top: 30px;
	text-align: -webkit-center;
	position: relative;
}
.complex .third-left {
	height: 309px;
	margin-top: 30px;
	text-align: -webkit-center;
	position: relative;
}
.complex img {
	width: 100%;
	height: 100%;
}
.complex h4 {
	position: absolute;
	top: 30px;
	left: 100px;
	color: #FFD600;
	font-size: 30px;
	font-weight: 700;
}
.complex button {
	width: 166px;
	height: 56px;
	background: #FFD600;
	border: none;
	border-radius: 30px;
	color: #1F1D1D;
	font-size: 14px;
	font-weight: 700;
	position: absolute;
	bottom: 40px;
	right: 100px;
	transition: 0.15s;
}
.complex button:hover {
	color: white;
	-moz-box-shadow:0 0 5px #FFD600; 
	-webkit-box-shadow:0 0 5px #FFD600; 
	box-shadow:0 0 5px #FFD600;
}
.complex .first-right {
	height: 309px;
	margin-top: 40px;
	text-align: -webkit-center;
	position: relative;
}
.complex .second-right {
	height: 309px;
	margin-top: 30px;
	text-align: -webkit-center;
	position: relative;
}
.complex .third-right {
	height: 309px;
	margin-top: 30px;
	text-align: -webkit-center;
	position: relative;
}
/*********complex close*/



/*feedback open*/
.feedback h2 {
	margin-top: 110px;
	font-weight: 500;
	font-size: 40px;
}
.feedback h3 {
	font-weight: 500;
 	margin-top: 10px;
	font-size: 18px;
	color: #7C7C7C;
}
.feedback form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 110px;
}
.feedback input {
	width: 274px;
	height: 56px;
	border: 1px solid;
	border-radius: 30px;
	border-color: #ecf2f3;
	padding-left: 30px;
	padding-right: 30px;
}
.feedback button {
	width: 274px;
	height: 56px;
	background: #FFD600;
	border: none;
	border-radius: 30px;
	color: #1F1D1D;
	font-size: 14px;
	font-weight: 700;
	margin-top: 30px;
	transition: 0.15s;
}
.feedback button:hover {
	-moz-box-shadow:0 0 5px #FFD600; 
	-webkit-box-shadow:0 0 5px #FFD600; 
	box-shadow:0 0 5px #FFD600;
	color: white;
}
/*feedback close*/



/*****directions open*/

.directions h2 {
	margin-top: 130px;
	font-weight: 500;
	font-size: 40px;
}
.directions h3 {
	font-weight: 500;
 	margin-top: 10px;
	font-size: 18px;
	color: #7C7C7C;
}
.directions .first-block, .second-block, .third-block {
	margin-top: 40px;
	height: 250px;
	text-align: -webkit-center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.directions img {
	width: 100%;
	height: 100%;
}
.directions h4 {
	position: absolute;
	font-weight: 700;
	font-size: 20px;
	color: white;
	margin-top: -20px;
}
.directions a {
	position: absolute;
	margin-top: 20px;
	font-weight: 500;
	font-size: 14px;
	color: #FFD600;
	transition: 0.15s;
}
.directions a:hover {
	color: #fff;
	text-decoration: none;
	font-weight: 700;
}
/***directions close*/



/****footer open*/
footer {
	margin-top: 110px;
	background: #222222;
	padding-top: 30px;
	padding-bottom: 30px;
}
footer .links a {
	text-decoration: none;
	color: #fff;
	font-size: 10px;
	font-weight: 500;
	transition: 0.15s;
}
footer .links a:hover {
	font-weight: 700;
}
footer .right-block h5 {
	margin-bottom: 0px;
	margin-top: 4px;
	font-weight: 500;
	font-size: 10px;
	color: #fff;
}


footer .social-media img {
	width: 24px;
	height: 24px;
}
/***footer close*/






/*media lg open*/
@media screen and (min-width: 1400px) {
	.main-screen {
		height: 1200px;
	}
	.main-screen-home {
		height: 1200px;
	}
	.main-screen-buisness {
		height: 1200px;
	}
	.main-screen-goverment {
		height: 1200px;
	}
}
/*media lg close*/



/*media md open*/
@media screen and (max-width: 960px) {
	.description {
		margin-top: 60px;
	}
	.description h1 {
		font-weight: 700;
		font-size: 60px;
		width: 550px;
		color: white;
	}
	.description p {
		margin-top: 30px;
		width: 550px;
		font-weight: 500px; 
		font-size: 18px;
		color: white;
		line-height: 1.8;
	}
	.complex .first-left {
		height: 350px;
	}
}
/*media md close*/

.container-fluid {
}

/*media md-half open*/
@media screen and (max-width: 1217px) {
	.col-1 .social-media {
		display: none!important;
	}
	.adaptive {
		position: absolute;
		right: 0px;
		height: 400px;
		width: 200px;
		top: 69px;
		background: #222222;
		flex-direction: column!important;
		justify-content: center!important;
		align-items: center;
		transform: translateY(-600%);
		transition: transform 0.5s ease-in;
		z-index: 1000;
	}
	.navbar-link {
		display: flex;
		flex-direction: column;
	}
	.navbar-link ul {
		display: flex!important;
		flex-direction: column!important;
		text-align: center;
	}
	.navbar li {
		margin-left: 0;
	}
	.burger {
		display: block;
	}
	.profile-menu {
		margin-top: 10px;
		margin-left: 0;
	}
}
/*media md-half close*/



/*media md open*/
@media screen and (max-width: 720px) {
	.description h1 {
		font-weight: 700;
		font-size: 50px;
		width: 100%;
		color: white;
	}
	.description p {
		margin-top: 30px;
		width: 100%;
		font-weight: 500px; 
		font-size: 18px;
		color: white;
		line-height: 1.8;
	}
	footer .footer-general-block {
		flex-direction: column;
		justify-content: center!important;
		align-items: center!important;
	}
	footer .footer-general-block .links {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 10px;
	}
	footer .footer-general-block .links .right-block {
		align-items: flex-end;
	}
	.directions .third-block {
		height: 300px;
	}
}
/*media md close*/



/*media sm open*/
@media screen and (max-width: 570px) {
	body {
		overflow-x: hidden;
	}
	.description h1 {
		font-weight: 700;
		font-size: 40px;
		width: 100%;
		color: white;
	}
	.description p {
		margin-top: 30px;
		width: 100%;
		font-weight: 500px; 
		font-size: 16px;
		color: white;
		line-height: 1.8;
	}
	.complex .first-left {
		height: 250px;
	}
	.complex .first-left h4 {
		font-size: 22px;
	}
	.complex .first-left button {
		font-size: 12px;
		width: 120px;
		height: 40px;
	}
	.directions .third-block {
		height: 280px;
	}
	.main-screen {
		width: 100%;
		height: 800px;
		background: url(../images/bg_mobile.jpg) no-repeat;
		background-size: cover;
		margin: 0;
		padding: 0;
	}
	.main-screen-buisness {
		width: 100%;
		height: 800px;
		background: url(../images/buisnessdogs_blur_mobile.jpg) no-repeat center;
		background-size: cover;
		margin: 0;
		padding: 0;
	}
	.main-screen-home {
		width: 100%;
		height: 800px;
		background: url(../images/homedogs_blur_mobile.jpg) no-repeat center;
		background-size: cover;
		margin: 0;
		padding: 0;
	}
	.main-screen-goverment {
		width: 100%;
		height: 800px;
		background: url(../images/wardogs_blur_mobile.jpg) no-repeat center;
		background-size: cover;
		margin: 0;
		padding: 0;
	}
}
/*media sm close*/



@media screen and (max-width: 400px) {
	.directions .first-block, .second-block, .third-block {
		margin-top: 40px;
		height: 200px!important;
		text-align: -webkit-center;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.complex .first-left {
		height: 210px;
	}
}





.adaptive-active {
	transform: translateX(0%);
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}



